<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Devenir compagnon aujourd'hui</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Major+Mono+Display&family=Montserrat:ital,wght@0,400;0,500;1,200&family=Quattrocento+Sans:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/variables.css">
  <link rel="icon" type="image/JPEG" href="../assets/img/favicon_compagnons.jpg">
  <link rel="stylesheet" href="../assets/css/border.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/become.css">
</head>
<body>
<!-- partial:index.partial.html -->


<div class="hero">
    <div id="linetop">
    <header id="masthead" role="banner">

        <div class="container">
          <button class="hamburger hamburger--boring" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
            <span class="hamburger-label">Menu</span>
          </button>

          <div class="h1">
            <h1><a href="../index.html">Le Compagnonnage</a></h1>
          </div>

    </div>       
        <nav id="site-nav" role="navigation">
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="tdf.html">Le Tour De France</a></div>
                        </svg>
                    </div>        
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="oeuvres.html">Les Chefs D'oeuvres</a></div>
                        </svg>
                    </div>
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="become.html">Devenir Compagnon</a></div>
                        </svg>
                    </div>          
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="symboles.html">Coutumes / Symboles</a></div>
                        </svg>
                    </div>    
          </div>

          <div class="col">
            <div class="svg-wrapper">
                <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="60" width="320" />
                    <div class="text"><a href="metiers.html">Les Métiers</a></div>
                </svg>
            </div>    
          </div>

          <div class="col">
            <div class="svg-wrapper">
                <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="60" width="320" />
                    <div class="text"><a href="histoire.html">Histoire / Définition</a></div>
                </svg>
            </div>    
          </div>
            
      </nav>
    </div>
  </header>
</div>
<div id="glb-container">
<h2>Devenir compagnon aujourd’hui</h2>
<div class="img">
  <img src="../assets/img/devenir_un_compagnon.jpg" alt="become" class="box"></div>
    <h3>
      Se former chez les Compagnons, c'est vivre une expérience unique ! 
      </h3>
    <div class="flex">
        <div id="imgdiv"> <img src="../assets/img/devoir.jpg" alt="artisans" id="img" class="box"></div>
        <div class="headers-box">
          <ul>
              <li>S'épanouir : développer son potentiel au travers d'un métier concret et utile, en </li>
              <li>apprenant à son rythme dans un environnement de confiance.</li>
              <li> Partager : gagner en autonomie en vivant au sein d'une maison de compagnons</li>
              <li>Pratiquer des activités sportives et culturelles. </li>
             <li>et multiplier les expériences professionnelles et humaines.</li>
          </ul>
      </div>
</div>
<div class="header-hr">
  <div style="
width: 33.5%;
padding: 1px;
padding-top: 7em;
float: left;
border-bottom: black 2px solid;
"> </div>

  <img src="https://www.ethnographiques.org/IMG/png/1-_Blason_des_boulangers.png" alt="logo" style="margin: 0 auto;padding-left: 86px;" class="logo">

  <div style="
width: 33.5%;
padding: 1px;
padding-top: 7em;
float: right;
border-bottom: black 2px solid;
">
  </div>
  </div>
<div id="hb">
  <div class="header-box">
  <ul>
        <li>Les métiers d’aujourd’hui n’ont plus rien à voir avec ceux d’hier…</li>
        <li>Les Compagnons du Devoir proposent une formation gratuite en alternance </li> 
        <li>dans 4 filières professionelles :</li>
  </ul>
      
      </div>
    </div>
    <ul id="ul">
     <h4>  Il y a donc :</h4>
     <li>&nbsp; Bâtiment & aménagement </li>
     <li>&nbsp; Technologies de l'industrie </li>
     <li>&nbsp; Matériaux souples </li>
     <li>&nbsp; Métiers du goût </li>
     <li>&nbsp; Maréchal-ferrant </li>
     <li>&nbsp; Tonnelier </li>
     </ul>
    <div id="img3"> <img src="../assets/img/constructeur.jpg" alt="build" class="box"></div>
    <div class="header-hr">
      <div style="
    width: 33.5%;
    padding: 1px;
    padding-top: 7em;
    float: left;
    border-bottom: black 2px solid;
    "> </div>
    
      <img src="https://www.ethnographiques.org/IMG/png/1-_Blason_des_boulangers.png" alt="logo" style="margin: 0 auto;padding-left: 86px;" id="imglogo" class="logo">
    
      <div style="
    width: 33.5%;
    padding: 1px;
    padding-top: 7em;
    float: right;
    border-bottom: black 2px solid;
    ">
      </div>
      </div>
    <div class="flex">
      <div id="lastpart">
        <div class="flex">
          <img src="../assets/img/devenir_un_compagnon2.jpg" alt="compagnons" class="box">
          <div class="header-box">
            <ul>
              <li>Pour devenir Compagnon, il faut préalablement postuler en tant qu’aspirant en réalisant un travail</li><li>d'adoption qui est ensuite examiné par des membres de la corporation. Si cette première </li>
              <li>pièce convient, la communauté donne un avis favorable pour l'affiliation ou l'adoption.</li>
              <li>Selon leur niveau et leur âge, les jeunes de moins de 22 ans (garçons ou filles) ont le choix entre trois parcours :</li>
              <li>- l'apprentissage : après la 3e ou une année de lycée, </li>
              <li>vous pouvez préparez un métier en alternance comme apprenti pour obtenir en deux ou trois ans un premier diplôme professionnel (CAP ou bac pro selon le métier).</li>

              <li>- après un premier diplôme du métier de votre choix (CAP, bac pro, brevet professionnel, BTS),<br/>vous pouvez vous perfectionner grâce au grand réseau des compagnons </li>

              <li>- préparer en alternance un diplôme supérieur jusqu'à la licence professionnelle tout en faisant un tour de France.</li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
     </div>
     <footer>
      <section>
        <div class="footerlinks1">
          <a href="tdf.html">Le tour de France</a>
          <a href="symboles.html">Coutumes / symboles</a>
        </div>
    
        <div class="footerlinks2">
          <a href="oeuvres.html">Les chefs-d'oeuvre</a>
          <a href="metiers.html">Les métiers</a>
          
        </div>
    
        <div class="footerlinks3">
          <a href="become.html">Devenir compagnon</a>
          <a href="histoire.html">Histoire / définition</a>
        </div>
      </section> 
      
      <section>
        <p>Réalisé par EDEN School Paris A1</p>
      </section>
    </footer>
<!-- js -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="../assets/js/script.js"></script>
  </body>
  </html>