<!DOCTYPE html>
<html lang="fr" >
<head>
  <meta charset="UTF-8">
  <title>Histoire et Définition</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Major+Mono+Display&family=Montserrat:ital,wght@0,400;0,500;1,200&family=Quattrocento+Sans:wght@700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/JPEG" href="../assets/img/favicon_compagnons.jpg">
    <link rel="stylesheet" href="../assets/css/variables.css">
  <link rel="stylesheet" href="../assets/css/border.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/histoire.css">
</head>
<body>
<!-- partial:index.partial.html -->


<div class="hero">
    <div id="linetop">
    <header id="masthead" role="banner">

        <div class="container">
          <button class="hamburger hamburger--boring" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
            <span class="hamburger-label">Menu</span>
          </button>

          <div class="h1">
            <h1><a href="../index.html">Le Compagnonnage</a></h1>
          </div>

    </div>       
        <nav id="site-nav" role="navigation">
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="tdf.html">Le Tour De France</a></div>
                        </svg>
                    </div>        
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="oeuvres.html">Les Chefs D'oeuvre</a></div>
                        </svg>
                    </div>
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="become.html">Devenir Compagnon</a></div>
                        </svg>
                    </div>          
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="symboles.html">Coutumes / Symboles</a></div>
                        </svg>
                    </div>    
          </div>

          <div class="col">
            <div class="svg-wrapper">
                <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="60" width="320" />
                    <div class="text"><a href="metiers.html">Les Métiers</a></div>
                </svg>
            </div>    
          </div>

          <div class="col">
            <div class="svg-wrapper">
                <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="60" width="320" />
                    <div class="text"><a href="histoire.html">Histoire / Définition</a></div>
                </svg>
            </div>    
          </div>
            
      </nav>
    </div>
  </header>
</div>
<div class="glb-container">
    <h2 class="h-title">Histoire et définition </h2>
    <h2 class="h-title">Les Compagnons du tour de France</h2>
    <br><br>
    <div class="header-box">
    <p class="header-text">Le terme compagnonnage désigne principalement une branche du mouvement ouvrier français,
        célèbre pour son tour de France qui connut l'apogée de sa renommée avec Agricol Perdiguier au milieu du
        XIXe siècle avant de disparaître presque entièrement suite à l'industrialisation et l’émergence des syndicats
        ouvriers. Il a cependant échappé à l'extinction au début du XXe siècle avant de connaître une période
        de renouveau.</p>

    </div>
    <br>
    <div class="header-box">
        <p class="header-text">Le compagnonnage a été pratiqué plus marginalement en Belgique et sous une
            forme un peu différente au Canada et en Allemagne. Mais il ne s'est jamais implanté en Grande-Bretagne
            où une autre forme d'organisation, les « sociétés amicales » ont succédé aux confréries et corporations
            du Moyen-Age.</p>

    </div>
    <img class="border-img" src="http://img.over-blog.com/400x560/2/97/71/20/Compagnonnage/Compagnons-du-tour-de-France---Le-rouleur-et-l-embauche.jpg " alt="" style="
    width: 19.9%; margin-left: 32.4em;">
    <br>
    <div class="header-box">
        <p class="header-text">Le compagnonnage français a été inscrit au patrimoine culturel immatériel de l'humanité
            en 2010 sous le titre « Le compagnonnage, réseau de transmission des savoirs et des identités par le métier ».
            Un comité intergouvernemental de l'UNESCO réuni à Nairobi y a vu « un moyen unique de transmettre des savoirs
            et savoir-faire ».
        </p>
    </div>
    <div class="header-hr">
        <div style="
    width: 33.5%;
    padding: 1px;
    padding-top: 7em;
    float: left;
    border-bottom: black 2px solid;
"> </div>

        <img class="logo" src="https://www.ethnographiques.org/IMG/png/1-_Blason_des_boulangers.png" alt="" style="margin: 0 auto;padding-left: 86px;">

        <div style="
    width: 33.5%;
    padding: 1px;
    padding-top: 7em;
    float: right;
    border-bottom: black 2px solid;
">
        </div>

    </div>



    <br>
    <div>
        <h2 class="h-title">définition </h2>
        <h2 class="h-title" id="title2">Origines historiques</h2>

        <div class="header-box">
            <p class="header-text">Fixer une date précise de la naissance du compagnonnage nécessiterait de lui donner une définition précise qu'il n'a jamais eue et les archives du compagnonnage ne remontent guère
                avant le XVIIIe siècle.</p>
        </div>
        <br>
        <div><img class="border-img" src="https://www.parismuseescollections.paris.fr/sites/default/files/styles/pm_notice/public/atoms/images/CAR/aze_carg036972_001.jpg?itok=GOSbE0UR" alt="" style="
    margin-left: 9em;">
            <img class="border-img" src="https://www.museecompagnonnage.fr/sites/default/files/styles/collection_image/public/2018-03-page/8_2.jpg?itok=IZjgf6wX" alt="" style="width: 33%;margin-left: 4em;">
        </div>

        <br>
        <div class="header-box">
            <p class="header-text">Il y eut probablement des organisations d'ouvriers et d'artisans dès les origines
                de ces métiers. L'étude comparée des religions et des traditions des différents pays du monde semblent
                montrer que ces artisans se sont transmis des connaissances plus ou moins secrètes de génération en
                génération, depuis la plus haute Antiquité. On en trouve des traces dans l'Égypte antique et dans
                l'Antiquité romaine, par exemple. Le compagnonnage existait déjà lors de l'âge d'or des cathédrales
                car des signes spécifiques aux compagnons y sont reconnaissables. Les compagnons voyageaient dans tous
                les pays d'Europe mais principalement en France.</p>
        </div>

        <br>
        <div class="header-box">
            <p class="header-text">En France, l'organisation des métiers sous l'Ancien Régime est construite autour
                des corporations et de trois états: apprenti, compagnon et maître. Pour les compagnons, il était
                extrêmement difficile, à moins d'être fils ou gendre de maître, d'accéder à la maîtrise. De plus,
                le « livre des métiers », rédigé en 1268 à la demande de Louis IX, interdisait à tout ouvrier de
                quitter son maître sans son accord. C'est par réaction à ces mesures que seraient nées les premières
                sociétés de compagnons indépendantes des corporations. Elles ne prirent le nom de « compagnonnage »
                qu'au XIXe siècle et se nommaient jusque-là des « devoirs ».</p>
        </div>


    </div>

</div>
<footer>
    <section>
        <div class="footerlinks1">
            <a href="tdf.html">Le tour de France</a>
            <a href="symboles.html">Coutumes / symboles</a>
        </div>

        <div class="footerlinks2">
            <a href="oeuvres.html">Les chefs-d'oeuvre</a>
            <a href="metiers.html">Les métiers</a>

        </div>

        <div class="footerlinks3">
            <a href="become.html">Devenir compagnon</a>
            <a href="histoire.html">Histoire / définition</a>
        </div>
    </section>

    <section>
        <p>Réalisé par EDEN School Paris A1</p>
    </section>
</footer>
<!-- js -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="../assets/js/script.js"></script>

</body>
</html>
