<!DOCTYPE html>
<html lang="fr" >
<head>
  <meta charset="UTF-8">
  <title>Les Métiers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Major+Mono+Display&family=Montserrat:ital,wght@0,400;0,500;1,200&family=Quattrocento+Sans:wght@700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../assets/css/variables.css">

  <link rel="icon" type="image/JPEG" href="../assets/img/favicon_compagnons.jpg">
  <link rel="stylesheet" href="../assets/css/border.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/metiers.css">
</head>
<body>
<!-- partial:index.partial.html -->


<div class="hero">
    <div id="linetop">
    <header id="masthead" role="banner">

        <div class="container">
          <button class="hamburger hamburger--boring" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
            <span class="hamburger-label">Menu</span>
          </button>

          <div class="h1">
            <h1><a href="../index.html">Le Compagnonnage</a></h1>
          </div>

    </div>       
        <nav id="site-nav" role="navigation">
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="tdf.html">Le Tour De France</a></div>
                        </svg>
                    </div>        
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="oeuvres.html">Les Chefs D'oeuvres</a></div>
                        </svg>
                    </div>
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="become.html">Devenir Compagnon</a></div>
                        </svg>
                    </div>          
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="symboles.html">Coutumes / Symboles</a></div>
                        </svg>
                    </div>    
          </div>

          <div class="col">
            <div class="svg-wrapper">
                <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="60" width="320" />
                    <div class="text"><a href="metiers.html">Les Métiers</a></div>
                </svg>
            </div>    
          </div>

          <div class="col">
            <div class="svg-wrapper">
                <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="60" width="320" />
                    <div class="text"><a href="histoire.html">Histoire / Définition</a></div>
                </svg>
            </div>    
          </div>
          
      </nav>

    </div>
 </header>

  

</div>
  <div class="glb-container">
    
    <div class="mcuisine">
        <h2>Les différents types de métiers du Compagnonnage</h2>
        
      
      
            
          <div class="metier">
            <div class="double2">
          <img src="../assets/img/raphael-mezie.jpg" alt="">
          <div class="mainblock">
            <p>De bouche :  boulanger, charcutier, confiseur, pâtissier, cuisinier...</p>
          </div>
          </div>

    <div class="double2">
            <img src="../assets/img/menuisier.jpg">
            <div class="mainblock">
              <p>De bois : sculpteur sur bois, charpentier, menuisier, ébéniste...</p>
          </div>
      </div>
      </div>
      <div class="metier">
      <div class="double2">
        <img src="../assets/img/Chaudronnier.jpg">
        <div class="mainblock">
          <p>Des métaux : chaudronnier, forgeron, serrurier, métallier...</p>
      </div>
      </div>
      <div class="double2">
        <img src="../assets/img/article_macon-1280x720.jpg">
        <div class="mainblock">
          <p>De la pierre : maçon, sculpteur, tailleur de pierre...</p>
      </div>
      </div>
    </div>
    <h4>Certains métiers parmi les plus anciens sont rares mais existent encore.  </h4>
    <div class="metier">
      <div class="double2">
      <img src="../assets/img/870x489_epalivefour453457.jpg">
      <div class="mainblock">
        <p>Les santonniers créent  de petites figurines</p>
    </div>
    </div>
    <div class="double2">
      <img src="../assets/img/660.jpg">
      <div class="mainblock">
        <p>Les passementiers travaillent sur un métier à tisser</p>
    </div>
    </div>
    
    </div>
    <div class="metier">
    <div class="double2">
      <img src="../assets/img/120218868.jpg">
      <div class="mainblock">
      <p>Les tonneliers confectionnent des tonneaux</p>
      </div>
    </div>
    <div class="double2">
      <img src="../assets/img/1958486.jpeg">
      <div class="mainblock">
      <p>Les potier font des structures en grès</p>
    </div>
    </div>
    </div>
    </div>
      

  </div>

  <footer>
    <section>
      <div class="footerlinks1">
        <a href="../views/tdf.html">Le tour de France</a>
        <a href="../views/symboles.html">Coutumes / symboles</a>  
      </div>
  
      <div class="footerlinks2">
        <a href="../views/oeuvres.html">Les chefs-d'oeuvre</a>
        <a href="../views/metiers.html">Les métiers</a>
        
      </div>
  
      <div class="footerlinks3">
        <a href="../views/become.html">Devenir compagnon</a>
        <a href="../views/histoire.html">Histoire / définition</a>
      </div>
    </section> 
    
    <section>
      <p>Réalisé par EDEN School Paris A1</p>
    </section>
  </footer>
  
<!-- js -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="../assets/js/script.js"></script>

</body>
</html>

      
      
    
     

    
      
    
  
   
    
    
     

