<!DOCTYPE html>
<html lang="fr" >
<head>
  <meta charset="UTF-8">
  <title>Les Symboles / Rites / Coutumes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Major+Mono+Display&family=Montserrat:ital,wght@0,400;0,500;1,200&family=Quattrocento+Sans:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/variables.css">
  <link rel="icon" type="image/JPEG" href="../assets/img/favicon_compagnons.jpg">
  <link rel="stylesheet" href="../assets/css/border.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/symbole.css">
</head>
<body>
<!-- partial:index.partial.html -->


<div class="hero">
    <div id="linetop">
    <header id="masthead" role="banner">

        <div class="container">
          <button class="hamburger hamburger--boring" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
            <span class="hamburger-label">Menu</span>
          </button>

          <div class="h1">
            <h1><a href="../index.html">Le Compagnonnage</a></h1>
          </div>

    </div>       
        <nav id="site-nav" role="navigation">
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="tdf.html">Le Tour De France</a></div>
                        </svg>
                    </div>        
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="oeuvres.html">Les Chefs D'oeuvres</a></div>
                        </svg>
                    </div>
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="become.html">Devenir Compagnon</a></div>
                        </svg>
                    </div>          
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="symboles.html">Coutumes / Symboles</a></div>
                        </svg>
                    </div>    
          </div>

          <div class="col">
            <div class="svg-wrapper">
                <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="60" width="320"/>
                    <div class="text"><a href="metiers.html">Les Métiers</a></div>
                </svg>
            </div>    
          </div>
          
          <div class="col">
            <div class="svg-wrapper">
                <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="60" width="320"/>
                    <div class="text"><a href="histoire.html">Histoire / Définition</a></div>
                </svg>
            </div>    
          </div>
            
      </nav>
    </div>
  </header>
</div>
<div id="glb-containers">
  <h2 class="h-title">Les Rites Les Coutumes et les Symboles</h2>
        <div class="div-img">
          <img src="../assets/img/artisans-formation-distance.png" alt="artisans" class="firstimg">
        </div>
     <div id="spediv">
              
                <div class="header-box">
                 <p>
                    Dans le compagnonnage, il existe de nombreux rites  et salutations.
                    Par exemple, le jour de sa réception, le compagnon se voit remettre un ou plusieurs rubans de soie appelés couleurs.
                    L’un des principaux insignes du Compagnon  est la canne.  Traditionnellement, elle est en jonc et comprend  un grand bout ferré et un pommeau gravé au nom du compagnon. Celle de ville est courte, celle de cérémonie est plus longue.
                 </p>
                 
                </div> 
                <img src="../assets/img/genealogie (1).jpg" alt="rubans" class="imgtypespe">
              <div class="header-box">     
                <p>
                    Parmi les symboles indissociables du compagnon, il y a les outils : l’équerre  symbolise la droiture, la conformité à la règle
                    Le niveau symbolise l’égalité, la balance, la justice.

                    le compas qui évoque les notions de précision, de juste mesure, de pensée ou de divin.
                  </p>
          
                 
              </div>
              <img src="../assets/img/47.jpg" alt="outils" class="imgtypespe">
                <div class="header-box">
                    <p>Les compagnons portent des costumes noirs, des pantalons à pattes, de larges chapeaux et une sacoche.</p>
                </div>
                </div>
                <div class="header-hr">
 
                  <div style="
              width: 33.5%;
              padding: 1px;
              padding-top: 7em;
              float: left;
              border-bottom: black 2px solid;
 "> </div>
          
                  <img class="logo" src="https://www.ethnographiques.org/IMG/png/1-_Blason_des_boulangers.png" alt="symbole" style="margin: 0 auto;padding-left: 86px;" id="symbole">
          
                  <div style="
              width: 33.5%;
              padding: 1px;
              padding-top: 7em;
              float: right;
              border-bottom: black 2px solid;
          "> </div>
               </div>
              <section class="finalsection">
                  <img src="../assets/img/droit-formation-artisans-chefs-entreprise-non-salarie-tns-travailleur-non-salarie-auto-entrepreneur-creactifs-conseil-formati.jpg" alt="artisans" class="imgtype">
                  <img src="../assets/img/unnamed.jpg" alt="artisans" class="imgtype">
                  <img src="../assets/img/fotolia_242728137_xs.jpg" alt="artisans" class="imgtype">
              </section>
              
     </div>
     <footer>
      <section>
        <div class="footerlinks1">
          <a href="tdf.html">Le tour de France</a>
          <a href="symboles.html">Coutumes / symboles</a>  
        </div>
    
        <div class="footerlinks2">
          <a href="oeuvres.html">Les chefs-d'oeuvre</a>
          <a href="metiers.html">Les métiers</a>
          
        </div>
    
        <div class="footerlinks3">
          <a href="become.html">Devenir compagnon</a>
          <a href="histoire.html">Histoire / définition</a>
        </div>
      </section> 
      
      <section>
        <p>Réalisé par EDEN School Paris A1</p>
      </section>
    </footer>
<!-- js -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="../assets/js/script.js"></script>
</body>
</html>