<!DOCTYPE html>
<html lang="fr" >
<head>
  <meta charset="UTF-8">
  <title>Le Tour de France</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Major+Mono+Display&family=Montserrat:ital,wght@0,400;0,500;1,200&family=Quattrocento+Sans:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/variables.css">
  <link rel="icon" type="image/JPEG" href="../assets/img/favicon_compagnons.jpg">
  <link rel="stylesheet" href="../assets/css/border.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/tdf.css">
</head>
<body>
<!-- partial:index.partial.html -->


<div class="hero">
    <div id="linetop">
    <header id="masthead" role="banner">

        <div class="container">
          <button class="hamburger hamburger--boring" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
            <span class="hamburger-label">Menu</span>
          </button>

          <div class="h1">
            <h1><a href="../index.html">Le Compagnonnage</a></h1>
          </div>

    </div>       
        <nav id="site-nav" role="navigation">
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="tdf.html">Le Tour De France</a></div>
                        </svg>
                    </div>        
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="oeuvres.html">Les Chefs D'oeuvres</a></div>
                        </svg>
                    </div>
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="become.html">Devenir Compagnon</a></div>
                        </svg>
                    </div>          
          </div>
          <div class="col">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <div class="text"><a href="symboles.html">Coutumes / Symboles</a></div>
                        </svg>
                    </div>    
          </div>

          <div class="col">
            <div class="svg-wrapper">
                <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="60" width="320" />
                    <div class="text"><a href="metiers.html">Les Métiers</a></div>
                </svg>
            </div>    
          </div>

          <div class="col">
            <div class="svg-wrapper">
                <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="60" width="320" />
                    <div class="text"><a href="histoire.html">Histoire / Définition</a></div>
                </svg>
            </div>    
          </div>
            
      </nav>
    </div>
  </header>
</div>
<div class="gib-container">
  <h2 class="h-title">Le tour de France</h2>
  
    <br><br>
    <section>
      <figure>
        <img src="../assets/img/mere-et-compagnons-tdf.jpg" alt="">
        <figcaption>La Mère des compagnons maréchaux-ferrants de Marseille en 1910</figcaption>
      </figure>
      <div class="header-box header-box1">
    
        <p class="header-text">
      
    
    Le second événement majeur d’un aspirant-compagnon du Devoir, c’est un long périple de plusieurs années au cours duquel l’aspirant va se former à son métier auprès de différents maîtres.
    Originellement, le parcours suivait les fleuves, les côtes atlantiques et méditerranéennes puis il a évolué depuis un demi-siècle avec des régions autrefois ignorées des compagnons de passage (Bretagne, Normandie, Nord-Picardie, Alsace, Massif central) ainsi que des pays étrangers (Allemagne, Angleterre, Pays-Bas, Suisse, etc.). Il est même possible à des jeunes de travailler au-delà de l’Europe, sur tous les continents.
    
    
        </p>
      </div>
    </section>
   
    <div class="sec1">
      <div class="header-box">
    
        <p class="header-text">
       
    
   
    Dans chaque ville du tour se trouve aujourd’hui un siège comprenant un restaurant, des chambres, des salles de réunion et de cours, des ateliers.
    L’établissement est géré par la “Mère”, profondément respectée par ses hôtes (aspirants), aujourd'hui son rôle est plus celui d’une économe et d’une conseillère.
    
    
    
        </p>
      </div>
    </div>
  <div class="header-hr">
 
    <div style="
  width: 33.5%;
  padding: 1px;
  padding-top: 7em;
  float: left;
  border-bottom: black 2px solid;
"> 
    </div>

      <img class="logo" src="https://www.ethnographiques.org/IMG/png/1-_Blason_des_boulangers.png" alt="" style="margin: 0 auto;padding-left: 86px;">

    <div style="
  width: 33.5%;
  padding: 1px;
  padding-top: 7em;
  float: right;
  border-bottom: black 2px solid;
"> </div>
  </div>
      <div class="sec2">
      <div class="header-box header-box2" >
    
        <p class="header-text">
       
    
   
    
    Chaque association de compagnons a ses spécificités en matière de formation. C'est principalement de la formation en alternance chez un employeur-compagnon et des cours très poussés le soir, dans les lieux de vie des compagnons.
    
    
        </p>
      </div>
      <figure>
        <img src="../assets/img/formation-compagnong-tdf.jpg" alt="formations">
        <figcaption>Invitation au bal des compagnons tonneliers de Tours (1908)</figcaption>
      </figure>
    </div>
    <div class="sec4">
      <div class="header-box">
    
        <p class="header-text">
  
    Depuis la restructuration du Compagnonnage dans les années 1950, les sièges abritent tous les corps de métier d’un même mouvement et leur capacité d’accueil est beaucoup plus importante. Il s’agit d’établissements, de « maisons », souvent aménagés dans des immeubles rénovés ou modernes, qui n’ont plus rien à voir avec les petits hôtels-restaurants d’autrefois.
    S’il voyage - et aujourd’hui bien souvent hors métropole - c’est que le voyage est une étape nécessaire dans la construction d’un homme. Il permet une ouverture culturelle, la découverte du patrimoine de nouvelles villes ainsi que la rencontre d’autres ouvriers et d’autres patrons, développe l’éveil intellectuel et la maturité.
    
        </p>
      </div>
    </div>
      <div class="sec3">
        <figure>
          <img src="../assets/img/maison-compagnon-tdf.jpg" alt="maison">
          <figcaption>Conduite de Blois l’Aimable, compagnon couvreur, partant de Bordeaux, vers 1825</figcaption>
        </figure>
      </div>
    
</div>
<footer>
  <section>
    <div class="footerlinks1">
      <a href="../views/tdf.html">Le tour de France</a>
      <a href="../views/symboles.html">Coutumes / symboles</a>  
    </div>

    <div class="footerlinks2">
      <a href="../views/oeuvres.html">Les chefs-d'oeuvre</a>
      <a href="../views/metiers.html">Les métiers</a>
      
    </div>

    <div class="footerlinks3">
      <a href="../views/become.html">Devenir compagnon</a>
      <a href="../views/histoire.html">Histoire / définition</a>
    </div>
  </section> 
  
  <section>
    <p>Réalisé par EDEN School Paris A1</p>
  </section>
</footer>

<!-- js -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="../assets/js/script.js"></script>
</body>
</html>
