body {
    background-color: #D69D93;
}

body, h1, ul {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    background-color: #DE5C48;
    height: 200px;
}

h1 {
    text-align: center;
    font-size: 80px;
}

header p {
    text-align: center;
}

/* menu */
nav {
    background-color: #D21F03;
    height: 40px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    background-color: #E5705D;
    padding: 20px;
    margin-top: 10px;
    border: solid 3px #E14F38;
}

nav ul li a:hover {
    text-decoration: none;
    color: black;
    background-color: #DE5C48;
    padding: 20px;
    margin-top: 10px;
}

/* Concept du jeu */
#concept {
    font-size: 40px;
    text-align: center;
}

.conceptgame img {
    width: 500px;
    height: 300px;
    margin: 40px;
    float: left;
}

.conceptgame p {
    font-size: 20px;
}

/* Agents */
.agents12 {
    font-size: 20px;
}

.txtagents p{
    display: inline-block;
    font-size: 30px;
    width: calc(100%/4.05);
    text-align: center;
}

.listofagents li {
    display: block;
    font-size: 20px;
    list-style-type: none;
    margin: 10px;
}

#agentlink {
    font-size: 40px;
    text-align: center;
}

.agents img {
    width: calc(100%/4.05);
    height: 300px;
}




/* clear */
.clear {
    clear: both;
}

