

.yellow{
    background-color: #E9C615;
}

.grey{
    background-color: #807E7C;
}

.white{
    background-color: #FDFDFD;
}

.black{
    background-color: #000000;
}

.blue{
    background-color: #112AE9;
}

