div{
    width: 34.5%;
    margin: 0 auto;
    border: 1px solid #919191;
    box-shadow: 1px 1px 3px 2px #D5D1D0;
}

table{
    margin: 0 auto;
    text-align: center;
}

table tr td p{
    color: #919191;
    font-weight: bold;
}

tbody tr:nth-child(4) td{
    height: 115px;
}

tbody tr:first-child td{
    height: 115px;
}